#username::placeholder, #password::placeholder {
    color: #f4579eaf;
}

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: whitesmoke;
    font-family: 'Modak', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    margin-top:-50px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 800px;
    margin: 0 10px;
}

.login-header {
    font-size: 85px;
    color: #6C5BA8;
    font-weight: 100;
    margin-top: 60px;
}

.login-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 50px;
}
.form2 {
    display:flex;flex-direction:column;align-items:center;width:100%;
}
.login-image {
    flex: 1;
    text-align: left;
}
@keyframes float {
0% { transform: translateY(0); }
50% { transform: translateY(-10px); }
100% { transform: translateY(0); }
}

.login-image img {
height: 425px;
margin-left: -100px;
animation: float 3s ease-in-out infinite;
}


.inputs {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;

}

.inputs input {
    width: 350px;
    height: 50px; 
    font-size: 32px; 
    color: #F4579D;
    font-family: 'Modak', sans-serif;
    padding: 0 10px; padding-top:3px;
    box-sizing: border-box;
    line-height: 40px; 
    border:3px solid black;border-radius: 10px;outline: none;
}
.inputs input:focus{
    box-shadow: 5px 5px 5px #60509b;
    transition: box-shadow 0.3s ease-in-out;border:2px solid #60509b;outline: none;
}


.nav-pages-tags {
    display: flex;
    justify-content: space-around;
    width: 100%;
    font-size: 23px;
    color: #69c6e5;text-decoration: underline;
    margin-top: 15px;gap:0px;
    font-family: 'Modak',sans-serif;
}
.nav-pages-tags p {
    margin:0 13px; margin-left:20px;
}

.login-btn {
    margin-top: 20px;display:flex;justify-content: center;
}


.login-btn button {
    height: 70px;
    font-size: 3rem;
    width: 155px;
    font-family: 'Modak',sans-serif;color:#6C5BA8;
    background-color: #70D2F2;border:3px solid black;border-radius: 10px;
}
.login-btn:hover button{
    background-color: #69c6e5;color:#60509b;
}

@media screen and (max-width: 1000px) {
    body {
        display:flex;flex-direction: column;
        align-items: center;text-align: center;
        height: auto;margin: 0 1px;
    }
    .container {
        max-width:100%;
    }
    .login-header {
        font-size: 50px;
    }
    .login-content {
        display: flex;
        flex-direction: column; align-items: center;
        justify-content: center;width: 100%;
    }
    .login-image {
        align-items: center;
    }
    .login-image img {
        height: 315px;display:float;margin-left:auto;margin-right:auto;margin-top:-25px;
    }
    .inputs {
    flex: 1;display: flex;
    flex-direction: column;
    gap: 10px;align-items: center;;
    }
    .inputs input{
        height: 35px;width: 250px;font-size:25px;
    }
    .inputs input:focus{
        border:3px solid #6C5BA8;
    }
    .nav-pages-tags {
        font-size:16px;gap:0px;
    }
    .login-btn button {
        font-size:2rem;height: 60px;width: 110px;text-align: center;
        display: flex;align-items: center;justify-content: center;padding: 0;margin-top:30px;
    }

}

