#username::placeholder, #password::placeholder, #createusername::placeholder,#createpassword::placeholder,#confpassword::placeholder {
    color: #f4579eaf;
}

* {
    margin: 0;padding: 0;
    box-sizing: border-box;
}
a {
    color:#60509b;
    text-decoration: underline;font-family: 'Coiny';
    
}
.TermsServ p {
    font-family: 'Helvetica';
}
.TermsServ a {
    color:#cd9fd9;text-decoration: underline;
}
.TermsServ {
    display:flex;flex-direction: column;align-items: center;
    justify-content: center;margin-top: 50px;font-size: 13px;
}
.ErrorContainer {
    display:flex;flex-direction: column;justify-content: center;align-items: center;gap:10px;
}
.ErrorContainer h3,h4 {
    font-size: 30px;   color:#70D2F2;text-shadow: 2px 2px 0px black;font-family: 'Coiny';
}
.ErrorContainer a {
    font-size: 25px;font-family: 'Coiny';
}
body {
    font-family: 'Modak', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    margin: 0;background:whitesmoke;
  }


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 800px;
    margin: 0 10px;
}

.login-header {
    font-size: 85px;
    color: #6C5BA8;
    font-weight: 100;
}

.login-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 50px;
}
.form2 {
    display:flex;flex-direction:column;align-items:center;width:100%;
}
.login-image {
    flex: 1;
    text-align: left;
}
@keyframes float {
0% { transform: translateY(0); }
50% { transform: translateY(-10px); }
100% { transform: translateY(0); }
}

.login-image img {
height: 425px;
margin-left: -100px;
animation: float 3s ease-in-out infinite;
}


.inputs {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;

}

.inputs input {
    width: 350px;
    height: 50px; 
    font-size: 32px; 
    color: #F4579D;
    font-family: 'Coiny', sans-serif;
    padding: 0 10px; padding-top:3px;
    box-sizing: border-box;
    line-height: 40px; 
    border:1px solid black;border-radius: 10px;outline: none;
}
.inputs input:focus{
    box-shadow: 5px 5px 5px #60509b;
    transition: box-shadow 0.3s ease-in-out;border:2px solid #60509b;outline: none;
}


.nav-pages-tags {
    display: flex;
    justify-content: space-around;
    width: 100%;
    font-size: 20px;
    margin-top: 15px;gap:20px;
    font-family: 'Modak',sans-serif;
}
.nav-pages-tags p {
    margin:0 13px; margin-left:20px;
}

.login-btn {
    margin-top: 0px;display:flex;justify-content: center;
}


.login-btn button,.ReturnBtn button {
    height: 65px;
    font-size: 20px;
    width: 165px;position: relative;
    font-family: 'Coiny',sans-serif;color:#fff;border-radius: 59px;
    background: #60509b;border:0.1px solid white;
}
.login-btn:hover button,.ReturnBtn:hover button{
    background:#58498c;color:#e4e2e2;border:0.1px solid white;
}

@media screen and (max-width: 1000px) {
    body {
        display:flex;flex-direction: column;
        align-items: center;text-align: center;margin: 0 0px;height: 1;padding: 0;
    }
    .container {
        max-width:100%;
    }
    .SignUpContainer {
        max-width: 100%;margin-top: 86px;
    }
    .login-header {
        font-size: 40px;
        margin-top: -100px;
    }
    .login-content {
        display: flex;
        flex-direction: column; align-items: center;
        justify-content: center;width: 100%;
    }
    .login-image {
        align-items: center;
    }
    .login-image img {
        height: 250px;display:float;margin-left:auto;margin-right:auto;margin-top:-25px;
    }
    .inputs {
    flex: 1;display: flex;
    flex-direction: column;
    gap: 12px;align-items: center;;
    }
    .inputs input{
        height: 40px;width: 260px;font-size:20px;
    }
    .inputs input:focus{
        border:1px solid #6C5BA8;
    }
    .nav-pages-tags {
        font-size:15px;gap:5px;
    }
    .login-btn {
        position: relative;margin-top: 15px;
    }
    .login-btn button,.ReturnBtn button {
        font-size:15px;height: 55px;width: 150px;text-align: center;
        display: flex;align-items: center;justify-content: center;padding: 0;
    }

    .ErrorContainer h3,h4 {
        font-size: 25px;
    }
    .ErrorContainer h5{
        font-size: 18px;
    }
    .ErrorContainer a {
        font-size: 20px;
    }
    .TermsServ {
        margin-top: 15px;
    }
    .TermsServ p,a {
        display: flex;flex-direction: column;justify-content: center;
        align-items: center;font-size: 11px;
    }
}

